.top-page-header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  border-bottom: black 2px solid;
}

.boast {
  font-size: 7vh;
  font-family: 'Permanent Marker', cursive;
}

.lists-right {
  display: flex;
  margin-right: 30px;
}

.list-left {
  font-size: 18px;
  font-weight: bold;
}

.list-right {
  font-size: 18px;
  margin-left: 30px;
}