.top-page-header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  border-bottom: black 2px solid;
}

.boast {
  font-size: 7vh;
  font-family: 'Noto Sans KR', sans-serif;
}

.lists-right {
  display: flex;
}

.user-nickname {
  font-size: 18px;
  font-weight: bold;
  margin-right: 25px;
}

.logout {
  font-size: 18px;
  margin-left: 25px;
}

.login {
  font-size: 18px;
  margin-right: 25px;
}

.sign-up {
  font-size: 18px;
  margin-left: 25px;
}