.top-page-header {
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: lightgray;
}

.boast {
  font-size: 30px;
}

.lists-right {
  display: flex;
}

.post-contents {
  width: 100%;
}

.post-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-lists>.list {
  width: 50%;
  list-style: none;
}