a {
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
}

.genre-container {
  width: 100%;
  height: 50px;
  background-color: lightgray;
  padding-left: 200px;
  padding-right: 200px;
  
}

.genre-lists {
  height: 50px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.genre {
  font-weight: bold;
}

.genre:hover {
  border-bottom: black 2px solid;
}

.post-contents {
  width: 100%;
  margin: 0, auto;
  text-align: center;
  display: flex;
  justify-content: center;
}

.post-lists {
  width: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 25px;
}

.post-lists>.list {
  width: 100%;
  list-style: none;
  border: lightgray 1px solid;
  background-color: #f5f5f5;
  margin-top: 25px;
  margin-bottom: 25px;
  position: relative;
}

.list>span {
  display: inline-block;
  border-bottom: black 2px solid;
  margin-top: 12px;
}

.swiper-container {
  padding-bottom: 30px;
}

.post-image {
  margin-top: 12px;
  height: 33vh;
  width: 33vw;
  min-height: 350px;
  background-color: #f5f5f5;
  object-fit: contain;
}

.heart-btn {
  margin-top: 12px;
}

.heart-count {
  cursor: pointer;
  margin-left: 5px;
}

.like-btn {
  color: #808080;
  font-size: 20px;
}

.unlike-btn {
  color: #e54747;
  font-size: 20px;
}

.post-text {
  margin: 12px;
  text-align: center;
}

.favorite_lists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 40%;
  left: 110%;
  width: 50%;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 25px;
  padding-right: 25px;
  background-color: #f5f5f5;
  border: lightgray 1px solid;
}

.hidden {
  display: none;
}

.btn {
  width: 150px;
  text-align: center;
  border-radius: 30px;
  padding: 10px;
  border: black 1px solid;
}

.round-btn {
  width: 80px;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  padding: 10px;
  border: black 1px solid;
  font-size: 30px;
}

.new-post-btn {
  background-color: lightgray;
  bottom: 32px;
  right: 32px;  
  position: fixed;
}

.new-post-btn:hover {
  background-color: #dcdcdc;
}

.new-post-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.btn-test {
  font-size: 18px;
  text-decoration: none;
}

.new-post-btn-text {
  color: black;
}

.pagination {
  border: lightgray 1px solid;
}

.pagination > span > a {
  color: #007bff;
  display: inline-block;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}

.page, .next, .last, .first, .prev {
  display: inline-block;
}

.page:hover, .next:hover, .last:hover, .first:hover, .prev:hover {
  background-color: #f5f5f5;
  cursor: pointer;
}

.current {
  background-color: #007bff !important;
  color: white !important;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 8px;
  padding-bottom: 8px;
}