a {
  text-decoration: none;
  color: black;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
}

.post-contents {
  width: 500px;
  margin: 0, auto;
  text-align: center;
}

.post-lists {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 35px;
  margin-bottom: 35px;
}

.post-lists>.list {
  width: 100%;
  list-style: none;
  border: lightgray 1px solid;
  background-color: #f5f5f5;
  margin-top: 15px;
  margin-bottom: 15px;
}

.list>span {
  display: inline-block;
  border-bottom: black 2px solid;
  margin-top: 12px;

}

.post-image {
  margin-top: 12px;
}

.heart-btn {
  margin-top: 12px;
}

.post-text {
  margin: 12px;
  text-align: center;
}

.new-post-btn {
  width: 150px;
  background-color: lightgray;
  text-align: center;
  border-radius: 15px;
  bottom: 32px;
  right: 32px;  
  position: fixed;
  padding: 10px;
  border: black 1px solid;
  box-shadow: 2px 2px 2px;
}

.new-post-btn:hover {
  background-color: #dcdcdc;
}

.new-post-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.new-post-btn-text {
  color: black;
  font-size: 18px;
  text-decoration: none;
}