.row {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.new-content {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
}

.post-new-text {
  height: 200px;
  width: 600px;
  padding: 16px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn-center {
  text-align: center;
}

.post-btn {
  background-color: lightgray;
  color: black;
  font-size: 18px;
}

.post-btn:hover {
  background-color: #dcdcdc;
}

.post-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}