.post-show {
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.post-show>span {
  display: inline-block;
  border-bottom: black 2px solid;
  margin-top: 12px;
}

.btn-container {
  display: flex;
  margin-bottom: 30px;
}

.post-image-box {
  margin-top: 12px;
  height: 66vh;
  width: 66vw;
  min-height: 500px;
  background-color: #f5f5f5;
  object-fit: contain;
}

.post-time {
  color: darkgray;
  font-size: 15px;
}

.edit-btn {
  background-color: #c1ffc1;
  margin-top: 40px;
  margin-right: 20px;
}

.edit-btn:hover {
  background-color: #a8ffa8;
}

.edit-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.delete-btn {
  background-color: #ffc1c1;
}

.delete-post {
  margin-top: 40px;
  margin-left: 20px;
}

.delete-btn:hover {
  background-color: #ffa8a8;
}

.delete-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.delete-btn-text {
  color: black;
}

.edit-btn-text {
  color: black;
}

.comment-content {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 30px;
}

.comments-container {
  padding: 30px;
  border: lightgray 1px solid;
}

.comment-container {
  width: 500px;
  margin-bottom: 10px;
}

.comment-time {
  color: darkgray;
  font-size: 4px;
}


.comment-new-text {
  height: 100px;
  width: 560px;
  padding: 10px;
  margin-top: 60px;
  margin-bottom: 30px;
  resize: none;
}