.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-name {
  font-size: 25px;
  margin-top: 20px;
  text-align: center;
}

.user-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.user-info-list {
  margin-bottom: 50px;
}

.info-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-gender {
  font-size: 18px;
}

.follow-btn {
  background-color: #3396ff;
  margin-top: 40px;
  color: white;
}

.follow-btn:hover {
  background-color: #007bff;
}

.follow-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.anfollow-btn {
  background-color: #3396ff;
  margin-top: 40px;
  color: white;
}

.anfollow-btn:hover {
  background-color: #007bff;
}

.anfollow-btn:active {
  transform: translateY(4px);
  box-shadow: none;
}

.user-edit-btn {
  margin-left: 10px;
  margin-right: 10px;
}