.user-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-info {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-gender {
  font-size: 18px;
}

.user-edit-btn {
  margin-left: 10px;
  margin-right: 10px;
}