.user-info {
  width: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.info-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

.info-gender {
  font-size: 18px;
}